#container {
  width: 50px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: Arial;
  font-size: 24px;
}

button {
  margin: 2px;
  border-radius: 0.3rem;
}

.certificate-form {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 3px solid black;
}

p {
  font-family: Arial;
  font-size: 16px;
}

table.data {
  margin: auto;
  border-width: 1px;
}

table.data td {
  padding: 7px;
}

table.data td.info {
  border-bottom: 1pt solid black;
}

table.data td.label {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

table.form td {
  padding: 7px;
  border-bottom: 1px solid #ddd;
}

table.form th {
  padding: 7px;
  border-bottom: 1px solid #ddd;
}

table.list {
  border-collapse: collapse;
}

table.list th {
  font-weight: bold;
  text-align: center;
  padding-right: 15px;
}

table.list td {
  border-bottom: 1px solid black;
  padding-right: 30px;
}

table.list td.centered {
  text-align: center;
}

table.list td.OK {
  text-align: center;
  background-color: #7dff8e;
}

table.list tr.normal {
}

table.list tr.CONFIRMED {
  background-color: #7dff8e;
}

table.list tr.STANDBY {
  background-color: #f8ff7d;
}

table.list tr.DECLINED {
  background-color: #f66;
}

table.list tr.WITHDRAWN {
  text-decoration: line-through;
  background-color: #f66;
}

input.full-width {
  width: 100%;
  border: 1px solid black;
}

input.full-width-error {
  width: 100%;
  border: 2px solid red;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

nav li.dropdown-right {
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Tournament */
.judge-timer-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 2.5vw;
}

.judge-container {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.judge-container label {
  white-space: nowrap;
}

.judge-container input {
  padding: 0.5vw;
  font-size: 2.5vw;
}

.judge-timer-container button {
  padding: 0.5vw;
  font-size: 1.5vw;
}

.timer-container {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 1vw;
}

.tournament-header {
  text-align: center;
  font-size: 4vw;
}

.tournament-match-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tournament-match {
  border: 1px solid black;
  font-size: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.tournament-match:nth-child(even) {
  background-color: lightgrey;
}

.tournament-match table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.tournament-match table td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.ranking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ranking-table {
  width: 100%;
  margin: 2rem auto;
  max-width: 90%;
  background-color: #cdcfd1;
  text-align: center;
  border: #111 solid 1px;
  border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
