# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

#UI files
/python/ScoreSheets

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# yarn files
yarn-error.log
yarn.lock

# python files
/python/__pycache__
