&nbsp;
<p>Adding a new Entry!</p>
{{#let (changeset this.model.robot this.RobotValidation) as |c|}}
  <RobotDetail @changeset={{c}} @competitions={{this.model.competitions}} />
  <button disabled={{c.isInvalid}} type="button" {{on "click" (fn this.save c)}}>
    Save Changes
  </button>
{{/let}}
