&nbsp;
{{#with (changeset this.model this.RobotValidation) as |changeset|}}
  <p>Adding a new Entry!</p>
  <form>
    <table class="form">
      <tbody>
        <col width="125">
        <col width="100">
        <col width="200">
        <RobotDetail
          @changeset={{changeset}}
          @competitions={{this.competitions}}
          @updateCompetition="updateCompetition"/>
      </tbody>
    </table>
    <button
      {{action "save" changeset}}
      disabled={{changeset.isInvalid}}>
      Save Changes
    </button>
  </form>
{{/with}}
