<h2>Adding a new Entry for: {{this.model.competition.name}}</h2>
{{#let (changeset this.model this.RobotValidation) as |c|}}
  <RobotDetail @changeset={{c}}/>
  <button disabled={{c.isInvalid}} type="button" {{on "click" (fn this.save c)}}>
    Save Changes
  </button>
{{/let}}
