&nbsp;
<p>Adding a new Entry!</p>
{{#with (changeset this.model.robot this.RobotValidation) as |c|}}
  <RobotDetail @changeset={{c}} @competitions={{this.model.competitions}} />
  <button {{on "click" (fn this.save c)}} disabled={{c.isInvalid}}>
    Save Changes
  </button>
{{/with}}
