<div class="container">
  <div class="menu">
    <h1 class="left">
      Manitoba Robot Games Check-in System
    </h1>
    <nav>
      <ul>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Robots</a>
          <div class="dropdown-content">
            {{#link-to "robots"}}Index{{/link-to}}
            {{#link-to "robots.bulk-payment"}}Bulk payment{{/link-to}}
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Competitions</a>
          <div class="dropdown-content">
            {{#link-to "competitions.show" "RC1"}}RC1 - Robo Critter{{/link-to}}
            {{#link-to "competitions.show" "LFS"}}LFS - Line Follower (Scratch){{/link-to}}
            {{#link-to "competitions.show" "LFK"}}LFK - Line Follower (Kit){{/link-to}}
            {{#link-to "competitions.show" "LMA"}}LMA - Line Maze Autonomous{{/link-to}}
            {{#link-to "competitions.show" "DRA"}}DRA - Drag Race Atuonomous{{/link-to}}
            {{#link-to "competitions.show" "TPM"}}TPM - Tractor Pull{{/link-to}}
            {{#link-to "competitions.show" "NXT"}}NXT - Lego Challenge{{/link-to}}
            {{#link-to "competitions.show" "JC1"}}JC1 - Judges Choice{{/link-to}}
            {{#link-to "competitions.show" "SSR"}}SSR - Super Scramble Rookie{{/link-to}}
            {{#link-to "competitions.show" "SSL"}}SSL - Super Scramble Light{{/link-to}}
            {{#link-to "competitions.show" "SSH"}}SSH - Super Scramble Heavy{{/link-to}}
            {{#link-to "competitions.show" "MSR"}}MSR - Mini Sumo Rookie{{/link-to}}
            {{#link-to "competitions.show" "MS1"}}MS1 - Mini Sumo 1{{/link-to}}
            {{#link-to "competitions.show" "MS2"}}MS2 - Mini Sumo 2{{/link-to}}
            {{#link-to "competitions.show" "MS3"}}MS3 - Mini Sumo 3{{/link-to}}
            {{#link-to "competitions.show" "MSA"}}MSA - Mini Sumo Autonomous{{/link-to}}
            {{#link-to "competitions.show" "PST"}}PST - Prairie Sumo Tethered{{/link-to}}
            {{#link-to "competitions.show" "PSA"}}PSA - Prairie Sumo Autonomous{{/link-to}}
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Ring Assignments</a>
          <div class="dropdown-content">
            {{#link-to "ring-assignments" "MSR"}}MSR - Mini Sumo Rookie{{/link-to}}
            {{#link-to "ring-assignments" "MS1"}}MS1 - Mini Sumo 1{{/link-to}}
            {{#link-to "ring-assignments" "MS2"}}MS2 - Mini Sumo 2{{/link-to}}
            {{#link-to "ring-assignments" "MS3"}}MS3 - Mini Sumo 3{{/link-to}}
            {{#link-to "ring-assignments" "MSA"}}MSA - Mini Sumo Autonomous{{/link-to}}
            {{#link-to "ring-assignments" "PST"}}PST - Prairie Sumo Teathered{{/link-to}}
            {{#link-to "ring-assignments" "PSA"}}PSA - Prairie Sumo Autonomous{{/link-to}}
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Checked-In Index</a>
          <div class="dropdown-content">
            {{#link-to "checkin" "RC1"}}RC1 - Robo Critter{{/link-to}}
            {{#link-to "checkin" "LFS"}}LFS - Line Follower (Scratch){{/link-to}}
            {{#link-to "checkin" "LFK"}}LFK - Line Follower (Kit){{/link-to}}
            {{#link-to "checkin" "LMA"}}LMA - Line Maze Autonomous{{/link-to}}
            {{#link-to "checkin" "DRA"}}DRA - Drag Race Atuonomous{{/link-to}}
            {{#link-to "checkin" "TPM"}}TPM - Tractor Pull{{/link-to}}
            {{#link-to "checkin" "NXT"}}NXT - Lego Challenge{{/link-to}}
            {{#link-to "checkin" "JC1"}}JC1 - Judges Choice{{/link-to}}
            {{#link-to "checkin" "SSR"}}SSR - Super Scramble Rookie{{/link-to}}
            {{#link-to "checkin" "SSL"}}SSL - Super Scramble Light{{/link-to}}
            {{#link-to "checkin" "SSH"}}SSH - Super Scramble Heavy{{/link-to}}
            {{#link-to "checkin" "MSR"}}MSR - Mini Sumo Rookie{{/link-to}}
            {{#link-to "checkin" "MS1"}}MS1 - Mini Sumo 1{{/link-to}}
            {{#link-to "checkin" "MS2"}}MS2 - Mini Sumo 2{{/link-to}}
            {{#link-to "checkin" "MS3"}}MS3 - Mini Sumo 3{{/link-to}}
            {{#link-to "checkin" "MSA"}}MSA - Mini Sumo Autonomous{{/link-to}}
            {{#link-to "checkin" "PST"}}PST - Prairie Sumo Tethered{{/link-to}}
            {{#link-to "checkin" "PSA"}}PSA - Prairie Sumo Autonomous{{/link-to}}
          </div>
        </li>
      </ul>
    </nav>
  </div>
  {{outlet}}
</div>
