<h2>Who's There?</h2>
<form {{on "submit" this.authenticate }}>
  <label for="identification">Login</label>
  <Input @id="identification" placeholder="Enter Login" @value={{this.identification}} />
  <button type="submit">Login</button>
  {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
  {{/if}}
</form>
