{{!-- app/templates/robocritter-certificate.hbs --}}
<h2>Robocritter Certificate</h2>
<form class="certificate-form" {{on "input" this.handleInput}}>
  <div>
    <label for="player">Player Name:</label>
    <input
      type="text"
      id="player"
      placeholder="Enter your name"
      size="30"
      name="player"
      autocomplete="off"
      required
    />
  </div>
  <br />
  <div>
    <label for="robot">Robot Name:</label>
    <input
      type="text"
      id="robot"
      placeholder="Enter your robot's name"
      size="30"
      name="robot"
      autocomplete="off"
      required
    />
  </div>
  <br />
  <div>
    <label for="minutes">Minutes:</label>
    <input
      type="number"
      id="minutes"
      name="minutes"
      autocomplete="off"
      min="0"
      max="59"
      required
    />
  </div>
  <br />
  <div>
    <label for="seconds">Seconds:</label>
    <input
      type="number"
      id="seconds"
      name="seconds"
      autocomplete="off"
      min="0"
      max="59"
      required
    />

  </div>
  <br />
  <div>
    <button type="button"
    {{on "click" (fn this.downloadCertificate true)}}>Download Certificate (PDF)</button>
    <button type="button"
    {{on "click" (fn this.downloadCertificate false)}}>Download Certificate (libreoffice)</button>
  </div>
</form>